{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- Add any header content here if needed -->
{% endblock %}

{% block content %}

</div>
    <div class="col-12">
        <p class="text-muted mt-3 text-center">
            {{ products|length }} Today's top Picks
        </p>
    </div>
</div>

<section class="container">
    <div class="row row-cols-2 row-cols-lg-5 g-4 py-5 ">
        {% for product in products %}
        <div class="col-lg-3 mb-2">
            <div class="card h-100 overflow-hidden rounded-4 rounded-top-0 border-0 shadow-lg position-relative">
                <!-- Sales Badge -->
                {% if product.old_price %}
                <span class="badge bg-danger position-absolute top-0 end-0 m-2">Sale</span>
                {% endif %}

                <!-- Product Image -->
                {% if product.image_1 %}
                <div style="height: 150px;">
                    <img src="{{ product.image_1.url }}" class="card-img-top border-0 h-100 img-thumbnail object-fit-scale" alt="image_1_alt" style="object-fit: cover;">
                </div>
                {% elif product.image_url %}
                <div style="height: 150px;">
                    <img src="{{ product.image_url }}" class="card-img-top border-0 h-100 img-thumbnail object-fit-scale" alt="image_url_alt" style="object-fit: cover;">
                </div>
                {% else %}
                <div style="height: 150px;">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="no-image">
                </div>
                {% endif %}
                
                <!-- Product Card Body -->
                <div class="card-body mb-3 px-1" style="height: 160px;">
                    <p class="card-title small px-0 mb-1 fs-10" style="height: 40px; overflow: hidden;">
                        <a href="{% url 'product_detail_by_slug' product_slug=product.slug %}">{{ product.title }}</a>
                    </p>
                    <p class="card-text text-primary p-auto mb-0 text-center" style="height: 40px; overflow: hidden; text-overflow: ellipsis;">
                        {% if product.old_price %}
                            <del class="text-danger small">${{ product.old_price }} </del>
                        {% endif %}
                        <span class="fs-5">${{ product.price }}</span>
                    </p>
                    <p class="card-text text-center my-0" style="height: 40px; overflow: hidden; text-overflow: ellipsis;">
                        <button type="button" class="btn btn-sm btn-dark text-decoration-none add-to-cart-btn" id="addCartBtn" data-product-id="{{ product.id }}" data-product-price="{{ product.price }}">Add to <i class="bi-cart4"></i></button>
                    </p>
                </div>
            </div>
            
        </div>
        {% if forloop.counter|divisibleby:4 %}
        <div class="w-100"></div>
        {% endif %}
        {% empty %}
            <p>No products found.</p>
        {% endfor %}
    </div>
</section>
{% block SEO %}
    {% include 'includes/home-seo.html' %}
{% endblock %}


<div class="top-down-button shadow-sm rounded-0 border border-body">
    <a class="top-down-link d-flex h-100">
        <i class="fas fa-arrow-up text-body mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block subscription %}
    {% include 'includes/newsletter-subscription.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.add-to-cart-btn').click(function() {
                var productId = $(this).data('product-id');
                var productPrice = $(this).data('product-price');
                fetch(`/cart/quick_add/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({ product_id: productId })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update product status');
                    }
                    return response.json();
                })
                .then(data => {
                    const toastLive = document.getElementById('liveToast');
                    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive);
                    let successMessage = document.getElementById('toastcc');
                    toastBootstrap.show()
                    // Show message info
                    successMessage.textContent = data.message;
                    // Increases product count
                    incrementProductCount();
                    var ccss1 = document.getElementById('grand');
                    ttd = parseInt(ccss1.textContent);
                    incrementTotal(productPrice);
                })
                .catch(error => {
                    console.error('Error updating product status:', error);
                });
            });
        });
        // Function to get CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Function to increment product count
        function incrementProductCount() {
            var productCountElement = document.getElementById('prod');
            var currentCount = parseInt(productCountElement.textContent);
            if (!isNaN(currentCount)) {
                productCountElement.textContent = currentCount + 1;
            } else {
                productCountElement.textContent = 1;
            }
            var productCountElement2 = document.getElementById('prod-mobile');
            var currentCount2 = parseInt(productCountElement2.textContent);
            if (!isNaN(currentCount)) {
                productCountElement2.textContent = currentCount + 1;
            } else {
                productCountElement2.textContent = 1;
            }
        }


        // Function to increment grandTotal
        function incrementTotal(productPrice) {

            let grandTotal = document.getElementById('grand');
            let grandTotal2 = document.getElementById('grand-mobile');
            let ccss = document.getElementById('grand');
            let ccss2 = document.getElementById('grand-mobile');
            grandTotal = parseInt(grandTotal.textContent);
            let currentGrandTotal = parseInt(grandTotal.textContent);
            let productPrice2 = parseInt(productPrice);
            grandTotal.textContent = currentGrandTotal + productPrice;
            ccss.textContent = productPrice + ttd
            grandTotal2.textContent = currentGrandTotal + productPrice;
            ccss2.textContent = productPrice + ttd

        }
    </script>
    
{% endblock %}