{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="h2 mb-4 text-capitalize">Profile<span> {% if profile.user.last_name%} | {{ profile.user.first_name }} {{ profile.user.last_name }}{% endif %}</span></h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information for</p>
                <p class= "text-capitalize">User: {% if profile.user.last_name%}{{ profile.user.first_name }} {{ profile.user.last_name}}{% else %}<a class="text-primary" href="{% url 'persona' %}">Add</a>{% endif %}</p>
                <p><hr></p>
                <p class= "text-capitalize">Email: {% if profile.user.email%}{{ profile.user.email }}{% else %}<a class="text-primary" href="{% url 'persona' %}">Add</a>{% endif %}</p>
                <p>Phone number: {% if profile.default_phone_number %}{{ profile.default_phone_number }}{% else %}<a class="text-primary" href="{% url 'profile_address' %}">Add</a>{% endif %}</p>
                <p><hr></p>
                <p class="h4">ddress</p>
                <p class= "text-capitalize">
                    {% if profile.default_street_address1 %}{{ profile.default_street_address1 }}{% else %}<a class="text-primary" href="{% url 'profile_address' %}">Add</a><br>{% endif %}
                    {% if profile.default_street_address2 %}{{ profile.default_street_address2 }}<br>{% endif %}
                    {% if profile.default_town_or_city %}{{ profile.default_town_or_city }}<br>{% endif %}
                    {% if profile.default_county %}{{ profile.default_county }}<br>{% endif %}
                    {% if profile.default_postcode %}{{ profile.default_postcode }}<br>{% endif %}
                    {% if profile.default_country %}{{ profile.default_country }}<br>{% endif %}
                </p>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a class="text-primary" href="{% url 'persona' %}">Update your Persona</a></li>
                                <li class="list-group-item"><a class="text-primary" href="{% url 'profile_address' %}">Update your Address</a></li>
                                <li class="list-group-item"><a class="text-primary" href="{% url 'password_change' %}">Change Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-muted h3">Order History</p>
                {% if orders %}
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}{{ item.product.title }} x{{ item.quantity }}<hr>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
                {% else %}
                <p>You have no orders yet.</p>
                {% endif %}
            
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}