{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row rounded-4 rounded-top-0 mt-5 border-md-1 shadow col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 cardmargin">
        <div class="col-md-6 centred">
          
            <div id="carouselIndicators" class="carousel slide">
                <div class="carousel-inner">
                    {% if product.image_url %}
                    <div class="carousel-item active">
                        <img src="{{ product.image_url }}" onclick="showModal('{{ product.image_url }}')" style="object-fit: cover; cursor: pointer; height: 250px; width: 250px" class="d-block card-img-top border-0 h-350 img-thumbnail object-fit-cover" alt="image_url_alt">
                    </div>
                    {% elif product.image_1 %}
                    <div class="carousel-item active">
                        <img src="{{ product.image_1.url }}" class="d-block card-img-top border-0 h-350 img-thumbnail object-fit-scale" alt="image_1_alt" style="object-fit: cover;">
                    </div>
                    {% else %}
                    <div class="carousel-item active">
                        <img src="{{ MEDIA_URL }}noimage.png" class="d-block card-img-top border-0 h-350 img-thumbnail object-fit-scale" alt="no-image" style="object-fit: cover;">
                    </div>
                    {% endif %}
                    {% if product.image_2 %}
                    <div class="carousel-item">
                        <img src="{{ product.image_2.url }}" class="d-block card-img-top border-0 h-350 img-thumbnail object-fit-scale" alt="image_2_alt" style="object-fit: cover;">
                    </div>
                    {% endif %}
                    {% if product.image_3 %}
                    <div class="carousel-item">
                        <img src="{{ product.image_3.url }}" class="d-block card-img-top border-0 h-350 img-thumbnail object-fit-scale" alt="image_3_alt" style="object-fit: cover;">
                    </div>
                    {% endif %}
                </div>
                {% if product.image_2 or product.image_3 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                {% else %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-5 mt-md-5">
                <p class="mb-0 h3">{{ product.title }}</p>
                <p class="lead mb-0 text-left font-weight-bold text-danger">${{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <small class="text-muted">Fufilled by: {{ product.vendor }}</small>
                {% if product.quantity == 0 %}
                <br>
                    <b><small><span class="text-danger">Out of stock!</span></small></b>
                {% elif product.quantity <= 5 %}
                <br>
                <b><small class="text-muted">Item is low on stock. <span class="text-danger">Only {{ product.quantity }} left!</span></small></b>
                {% endif %}
                
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as s %}
                        {% if s %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="{{ product.quantity }}"
                                        data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}" data-stock="{{ product.quantity }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'view_cart' %}" class="btn btn-outline-dark rounded-0 mt-5">
                                <span class="text-uppercase">View Cart</span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                            <input type="submit" class="btn btn-dark rounded-0 text-uppercase mt-5" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 cardmargin mt-5">
        <h2 class="border-bottom">
                <i class="small bi bi-book gap-1"></i> Product description</h2>
        <p class="mt-3">{{ product.description|safe }}</p>
    </div>
</div>

{% if similar_products %}
    <section class="container">
        <div>
            <h2 class="border-bottom arrow-right"><i class="small bi bi-diagram-3 gap-1"></i> Related products</h2>
        </div>
        <div class="row row-cols-2 row-cols-lg-5 g-4 py-5 ">
            {% for product in similar_products %}
            <div class="col-lg-3 mb-2">
                <div class="card h-100 overflow-hidden rounded-4 rounded-top-0 border-0 shadow-lg position-relative">
                    <!-- Sales Badge -->
                    {% if product.old_price %}
                    <span class="badge bg-danger position-absolute top-0 end-0 m-2">Sale</span>
                    {% endif %}

                    <!-- Product Image -->
                    {% if product.image_1 %}
                    <div style="height: 150px;">
                        <img src="{{ product.image_1.url }}" class="card-img-top border-0 h-100 img-thumbnail object-fit-scale" alt="image_1_alt" style="object-fit: cover;">
                    </div>
                    {% elif product.image_url %}
                    <div style="height: 150px;">
                        <img src="{{ product.image_url }}" class="card-img-top border-0 h-100 img-thumbnail object-fit-scale" alt="image_url_alt" style="object-fit: cover;">
                    </div>
                    {% else %}
                    <div style="height: 150px;">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="no-image">
                    </div>
                    {% endif %}
                    
                    <!-- Product Card Body -->
                    <div class="card-body mb-3 px-1" style="height: 160px;">
                        <p class="card-title small px-0 mb-1 fs-10" style="height: 40px; overflow: hidden;">
                            <a href="{% url 'product_detail_by_slug' product_slug=product.slug %}">{{ product.title }}</a>
                        </p>
                        <p class="card-text text-primary p-auto mb-0 text-center" style="height: 40px; overflow: hidden; text-overflow: ellipsis;">
                            {% if product.old_price %}
                                <del class="text-danger small">${{ product.old_price }} </del>
                            {% endif %}
                            <span class="fs-5" id="stock" data-remaining_stock="{{ product.quantity }}">${{ product.price }}</span>
                        </p>
                        <p class="card-text text-center my-0" style="height: 40px; overflow: hidden; text-overflow: ellipsis;">
                            <button type="button" class="btn btn-sm btn-dark text-decoration-none add-to-cart-btn" id="addCartBtn" data-product-id="{{ product.id }}" data-product-price="{{ product.price }}">Add to <i class="bi-cart4"></i></button>
                        </p>
                    </div>
                </div>
                
            </div>
            {% empty %}
            {% endfor %}
        </div>
</section>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Product image preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" alt="Full-size image" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
<script type="text/javascript">
    function showModal(imageUrl) {
        document.getElementById('modalImage').src = imageUrl;
        $('#imageModal').modal('show');
    }
</script>
{% endblock %}
